body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: '微软雅黑', Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
}

.display {
  display: flex;
  height: 100vh;
  background: #336699;
}

aside {
  flex: 0 0 110px;
  width: 110px;
  background: #336699;
  color: #FFF;
  text-align: center;
  transition: 0.2s ease-out;
}

.menuIcon {
  position: absolute;
  top: 0;
  margin: 40px 0 0 4px;
  color: #FFF;
  visibility: hidden;
}

.menuIcon li {
  padding: 4px 0;
}

.menuIcon li:hover {
  cursor: pointer;
  color: #0099cc;
}

.copyright {
  position: absolute;
  bottom: 0;
  margin: 6px;
}

a:hover {
  color: #0099cc;
}

.copyright>a {
  color: #FFF;
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}

.menu {
  text-align: left;
  margin: 40px 0 0 8px;
  font-size: 20px;
  font-weight: bold;
  font-family: '微软雅黑', Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
}

.menu>ul, .menuIcon>ul {
  list-style-type: none;
  padding-left: 0;
}

.menu ul>li {
  padding: 4px;
}

.menu li>i {
  padding-right: 6px;
}

.menu li>a {
  color: #FFF;
}

.menu li:hover {
  cursor: pointer;
  text-shadow: 4px 2px 2px #999999;
}

#menuVisible {
  display: none;
}

#menuVisible:checked~aside {
  display: none;
}

.vText {
  writing-mode: tb-rl;
  visibility: hidden;
}

#menuVisible:checked~.vText {
  visibility: visible;
}

#menuVisible:checked~.menuIcon {
  visibility: visible;
}

.wrap {
  float: left;
  background: #336699;
  border-radius: 50px;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-family: Courier New;
  font-size: 25px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  line-height: 35px;
  text-align: center;
  text-shadow: 0 -4px;
}

.wrap:hover {
  background-color: #0099cc;
  border-radius: 50px;
  cursor: pointer;
}

main {
  flex: 1;
  padding: 2px 0 0 6px;
  background: #FFF;
}

main>header {
  text-align: left;
  margin-left: 10px;
}

.menuName {
  color: #336699;
  font-weight: bold;
  text-shadow: 5px 2px 2px lightgray;
}

.menuName:hover {
  color: #0099cc;
}

main>section {
  text-align: left;
  border: 1px solid red;
}

main>.management, main>.configuration, main>.document {
  display: none;
}

main>section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload>.file, .upload>.button {
  margin: 10px;
}

.upload > div {
  display: flex;
  flex-direction: column;
}

.file-names {
  border-radius: 0 0 4px 4px;
  border-width: 0 1px 1px;
  border-color: #dbdbdb;
  border-style: solid;
}

.file-names> span {
  max-width: 16em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
}

.upload-file {
  display: flex;
  align-items: center;
}

.upload-file > p {
  max-width: 16em;
  min-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.upload-file > button {
  border: none;
  background-color: #FFF;
  margin: 2px 4px;
  cursor: pointer;
  padding: 0;
  
}

.upload-file > button:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px #999999;

}